@import "tailwindcss";

@plugin "daisyui" {
  themes: light, dark --prefersdark --default;
}

body {
  @apply bg-base-100 overflow-x-hidden;
  height: 100vh;
  width: 100vw;
}

#main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  place-content: safe center;
  place-items: safe center;
}
