[target.x86_64-unknown-linux-gnu]
rustflags = ["-Ctarget-cpu=native"]

[build]
rustflags = ["-Cllvm-args=--inline-threshold=300"]

[profile.release]
codegen-units = 1
lto = "fat"
strip = "debuginfo"
panic = "abort"
opt-level = "z"
debug = false
incremental = false

[profile]

[profile.wasm-dev]
inherits = "dev"
opt-level = 1
